micrio-button > :is(button, a) {
	margin: 0;
	padding: 0 8px;
	cursor: pointer;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity .25s ease;
	font: inherit;
	font-size: 90%;
	position: relative;
	touch-action: none;
	color: var(--micrio-color);
	background: var(--micrio-button-background, var(--micrio-background, none)) center center no-repeat;
	background-size: 24px;
	min-width: var(--micrio-button-size);
	height: var(--micrio-button-size);
	border: none;
	border-radius: var(--micrio-border-radius);
	box-shadow: var(--micrio-button-shadow);
	backdrop-filter: var(--micrio-background-filter);
	text-decoration: none;
	font-family: inherit;
}
micrio-button > :is(button, a):hover {
	outline: none;
}
micrio-button > :is(button, a).transparent {
	background-color: transparent;
	backdrop-filter: none;
}
micrio-button > :is(button, a)>* {
	transition: opacity .25s ease;
}
micrio-button > :is(button, a):disabled {
	pointer-events: none;
	cursor: default;
}
micrio-button > :is(button, a) svg {
	display: block;
}
micrio-button > :is(button, a):disabled svg {
	opacity: .4;
}
micrio-button > :is(button, a).no-click {
	pointer-events: none;
}
micrio-button > :is(button, a) img {
	pointer-events: none;
	max-width: 100%;
	max-height: 100%;
}
micrio-button > :is(button, a).active {
	color: var(--micrio-color-hover);
}
micrio-button > :is(button, a).active svg {
	fill: var(--micrio-color-hover);
}
@media (hover: hover) {
	micrio-button > :is(button, a):is(:hover,:focus) {
		background-color: var(--micrio-button-background-hover, var(--micrio-button-background, var(--micrio-background)));
		color: var(--micrio-color-hover);
		z-index: 1;
	}
	micrio-button > :is(button, a):is(:hover,:focus) svg {
		fill: var(--micrio-color-hover);
		stroke: var(--micrio-color-hover);
	}
	micrio-button > :is(button, a):focus {
		outline: 1px solid var(--micrio-color-hover);
	}
}