
micrio-marker-popup {
	display: block;
	cursor: auto;
	pointer-events: none;
	position: absolute;
	top: var(--micrio-border-margin);
	left: var(--micrio-border-margin);
	animation: micrio-popup-in .2s ease-out;
}
micrio-marker-popup>* {
	pointer-events: auto;
}
@keyframes micrio-popup-in {
	from {
		opacity: 0;
		transform: translateX(-50px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
micrio-marker-popup.destroying {
	animation: none;
	opacity: 0;
	transform: translateX(-50px);
	pointer-events: none;
	transition: opacity .2s ease-out,transform .2s ease-out;
}
micrio-marker-popup>aside {
	padding: var(--micrio-border-margin);
}
micrio-marker-popup>aside progress {
	display: none;
}
@media (min-width: 501px) {
	micrio-marker-popup {
		width: 440px;
		min-width: 20%;
	}
	micrio-marker-popup>aside {
		position: absolute;
		left: 100%;
		top: 0;
		padding-top: 0;
	}
}
@media (max-width: 500px) {
	micrio-marker-popup>aside {
		position: relative;
		padding: 0;
		display: flex;
		flex-direction: row-reverse;
		margin-bottom: var(--micrio-border-margin);
		align-items: center;
	}
	micrio-marker-popup>aside progress {
		display: block;
		flex: 1;
		opacity: 0;
		pointer-events: none;
	}
	micrio-marker-popup>aside micrio-button-group {
		margin-bottom: 0 !important;
		display: flex;
	}
	micrio-marker-popup>aside micrio-button>:is(button, a) {
		display: block !important;
		height: var(--micrio-button-size);
		padding: 0 !important;
		margin: 0 0 0 8px;
	}
	micrio-marker-popup {
		width: auto;
		right: var(--micrio-border-margin);
		display: flex;
		top: auto;
		bottom: calc(var(--micrio-button-size) + 2 * var(--micrio-border-margin));
		flex-direction: column;
		justify-content: space-between;
	}
}
micrio-button-group > micrio-button:nth-child(2) > :is(button,a) {
	height: auto;
	line-height: normal;
	vertical-align: middle;
	cursor: default;
}
