
micrio-serial-tour>micrio-media {
	display: contents;
}
micrio-serial-tour micrio-media-controls {
	display: contents;
}
micrio-serial-tour [data-part="bars"] {
	display: flex;
	height: var(--micrio-progress-bar-height,6px);
	background: var(--micrio-progress-bar-background,rgba(128,128,128,.3));
	position: relative;
	border-radius: 3px;
	overflow: hidden;
}
micrio-serial-tour [data-part="bars"] > [data-part="bar"] {
	height: 100%;
	display: block;
	box-sizing: border-box;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	background: transparent;
}
micrio-serial-tour [data-part="bars"] > [data-part="bar"]::before {
	display: block;
	position: absolute;
	content: ' ';
	background: var(--micrio-color);
	height: 100%;
	pointer-events: none;
	width: var(--progress,0%);
	will-change: width;
}
micrio-serial-tour [data-part="bars"] > [data-part="bar"].active::before {
	background: var(--micrio-active-color,var(--micrio-color));
}
micrio-serial-tour ol {
	position: absolute;
	left: var(--micrio-border-margin);
	bottom: var(--micrio-border-margin);
	color: var(--micrio-color);
	text-shadow: var(--micrio-marker-text-shadow);
	list-style-type: decimal-leading-zero;
	margin: 0;
	transition: transform .25s ease, opacity .25s ease;
	--micrio-hide: translate3d(-100%,0,0);
}
micrio-serial-tour ol>li {
	padding: .15em;
	white-space: pre;
	transition: height .25s ease,opacity .25s .25s ease;
}
micrio-serial-tour ol>li.active {
	font-weight: bold;
}
micrio-serial-tour ol button {
	font: inherit;
	background: none;
	border: none;
	display: inline;
	color: inherit;
	text-shadow: inherit;
	cursor: pointer;
}
micrio-serial-tour ol button:hover {
	text-decoration: underline;
}

@media (max-width: 500px) {
	micrio-serial-tour ol {
		bottom: calc(var(--micrio-button-size) + 3 * var(--micrio-border-margin));
	}
}
