
micrio-tour > aside {
	display: block;
	position: absolute;
	bottom: var(--micrio-border-margin);
	left: 50%;
	max-width: calc(100% - var(--micrio-border-margin) * 2);
	transform: translateX(-50%);
	box-sizing: border-box;
	display: flex;
	border-radius: var(--micrio-border-radius);
	box-shadow: var(--micrio-button-shadow);
	backdrop-filter: var(--micrio-background-filter);
	background-color: var(--micrio-button-background,var(--micrio-background,none));
	padding: 0;
	transition: transform .25s ease,opacity .25s ease;
	z-index: 5;
}
micr-io[data-tour-active][data-idle] micrio-tour > aside {
	transform: translate(-50%,100%);
}

micrio-tour > aside > micrio-button {
	--micrio-button-background: transparent;
	--micrio-background-filter: none;
	--micrio-button-shadow: none;
	--micrio-border-radius: 0;
}
micrio-tour > aside > span {
	height: var(--micrio-button-size);
	line-height: var(--micrio-button-size);
	padding: 0 12px;
	font-size: 90%;
	cursor: default;
	font-family: inherit;
	background: transparent;
	border: none;
	color: var(--micrio-color);
	display: flex;
	align-items: center;
}
