micrio-minimap canvas {
	position: absolute;
	bottom: var(--micrio-border-margin);
	right: 5px;
	transform-origin: right bottom;
	display: block;
	background-size: 100%;
	transition: opacity .2s ease;
	cursor: grab;
	-ms-content-zooming: none;
	-ms-touch-action: none;
	touch-action: none;
	border-radius: var(--micrio-border-radius);
}
micrio-main:has(> micrio-controls) > micrio-minimap > canvas {
	right: calc(var(--micrio-border-margin) + var(--micrio-button-size) + 8px);
}
@media (max-width: 800px) {
	micrio-minimap canvas {
		transform: scale3d(.5, .5, 1);
		pointer-events: none;
		right: 65px;
	}
}
