micrio-minimap canvas {
	position: absolute;
	bottom: var(--micrio-border-margin);
	right: var(--micrio-border-margin);
	transform-origin: right bottom;
	display: block;
	background-size: 100%;
	transition: opacity .2s ease;
	cursor: grab;
	-ms-content-zooming: none;
	-ms-touch-action: none;
	touch-action: none;
	border-radius: var(--micrio-border-radius);
}
micrio-main:has(> micrio-controls) > micrio-minimap > canvas {
	right: calc(2 * var(--micrio-border-margin) + var(--micrio-button-size));
}
micrio-minimap.hidden canvas:not(:hover) {
	opacity: 0;
	pointer-events: none;
}
@media (max-width: 800px) {
	micrio-minimap canvas {
		transform: scale3d(.5, .5, 1) !important;
		pointer-events: none;
	}
}
